@font-face {
  font-family: kongtext;
  src: url(./Fonts/kongtext/kongtext.ttf);
}

.fontCustom {
  font-family: 'kongtext';
}

.buttonHover:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,1), 0 17px 50px 0 rgba(0,0,0,0.19);
}